<table class="table ">
    <thead>
       <tr>
           <th scope="col">id</th>
           <th scope="col">Value</th>
           <th scope="col">Teacher Name</th>
           <th scope="col">Topic</th>

      
    </thead>
    <tbody >
   
        <tr *ngFor="let note of notes">
            <td>{{note._id}}</td>
            <td [ngStyle]="{'color':noteColor(note.value)}"><b>{{note.value}}</b></td>
            <td>{{searchTeacher(note.idTeacher)?.firstName}} {{searchTeacher(note.idTeacher)?.lastName}}</td>           
            <td>{{searchTeacher(note.idTeacher)?.speciality}} </td>
            
            
        </tr>
    </tbody>
 </table>