
<div class="register">
  
    <div class="container-fluid">
      
      <div class="row row-eq-height">
        <div class="col-lg-12 nopadding">
          
          <!-- Register -->

          <div class="register_section d-flex flex-column align-items-center justify-content-center">
            <div class="register_content text-center">
              <h1 class="register_title">Register now and get a discount <span>50%</span> discount until 1 January</h1>
              <p class="register_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum. Aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempo.</p>
              <div class="button button_1 register_button mx-auto trans_200"><a href="#">register now</a></div>
            </div>
          </div>

        </div>

      
    </div>
  </div>