<div class="homes">
    <div class="homes_background_container prlx_parent">
      <div class="homes_background prlx" style="background-image:url(assets/images/teachers_background.jpg)"></div>
    </div>
    <div class="homes_content">
      <h1>Parent</h1>
    </div>
  </div>
<div class="container">
<ul class="nav nav-tabs container" id="myTab" role="tablist" style="padding-top: 3%;" >
    <li class="main_nav_item">
      <a  id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Notes</a>
    </li>
  </ul>
  <div class="tab-content container" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="table-responsive"> 
        <app-child-notes></app-child-notes>
        </div>
    </div>

  </div>
</div>