<div class="homeM">

    <!-- Hero Slider -->
    <div class="hero_slider_container">


        <!-- Hero Slide -->
        <div class="hero_slide">
            <div class="hero_slide_background"
                style="background-image:url(assets/images/slider_background.jpg); width:100%; height:100%"></div>
            <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                <div class="hero_slide_content text-center">
                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"> <span>Signup</span> </h1>
                </div>
            </div>
        </div>






    </div>

</div>

<div class="hero_boxes">
    <div class="hero_boxes_inner">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 hero_box_col">
                    <a routerLink="../signupStudent">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <div class="hero_box_content ml-5 ">
                                <h2 class="hero_box_title ">Student</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <a routerLink="../signupTeacher">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <div class="hero_box_content ml-5">
                                <h2 class="hero_box_title">Teacher</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 hero_box_col ">
                    <a routerLink="../signupParent">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <div class="hero_box_content ml-5">
                                <h2 class="hero_box_title">Parent</h2>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>